name: Wails build

on:
  push:
    tags:
      - '*'

env:
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Go_Arknights_Gacha_App_Linux
            platform: linux/amd64
            os: ubuntu-latest
            ext: ''          # Linux 无后缀
          - name: Go_Arknights_Gacha_App_Windows
            platform: windows/amd64
            os: windows-latest
            ext: '.exe'      # Windows 加后缀
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build wails
        uses: dAppServer/wails-build-action@main
        with:
          build-name: ${{ matrix.name }}
          build-platform: ${{ matrix.platform }}
          package: false
          go-version: '1.23'

      # ===== 上传产物 =====
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: build/bin/${{ matrix.name }}/*${{ matrix.ext }}   # 用通配符，保证能抓到 exe

      # ===== 发布 Release =====
      - name: Release
        if: startsWith(github.ref,'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: build/bin/${{ matrix.name }}/*${{ matrix.ext }}
          body: "Release ${{ github.ref_name }}"